<div class="container">
    <div class="header">
      <h1>Smart Meter</h1>
      <h4>Empower Your Savings with our smart meter</h4>
      <p>
        "Refine Your Game : Its Not Just Adjustment Its Savvy Savings!"
        <br>
        Simple changes - Big Savings: Our Smart Solution for your Pocket and Power
      </p>
    </div>
    <div class="video">
      <!-- <iframe src="./video.mp4" frameborder="0"></iframe> -->
    </div>
    <div class="navigate">
      <button class="btn btn-primary" (click)="nav.nav_dashboard()">Domestic Sector</button>
      <button class="btn btn-primary" (click)="nav.nav_industryDashboard()">Industry Sector</button>
    </div>
  </div>
  